body {
    font-family: "Open Sans", sans-serif; }
footer a {
  color:white;
}
  
  h1, h2, h3 {
    font-family: "Arial Black", sans-serif; }
  
  h3 {
    color:#587B7F;
  }
  h2 {
    color:#393E41; }
  h1 {
    color: #0892A5;
  }
  
  header h2 {
    color: #393E41;
    font-size: calc(16px + 6 * ((100vw - 320px) / 250)); }
  header h1 {
    color: white;
    font-size: calc(16px + 6 * ((100vw - 320px) / 200));}
  
  .site-footer {
    background-image: linear-gradient(to top right, #D3D0CB, #0892A5, #D3D0CB);
    padding: 30px 0;
    color: white}
  
  .jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to bottom right,#D3D0CB, #0892A5, #D3D0CB); }
  
  .row-content {
    padding: 10px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }
  
  .navbar {
    background-color: #0892A5; }
  
  .tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px; }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
   }

   .carousel-caption h3 {
     color: white;
   }

  
  .carousel {
    border: #E2C044; }

  .carousel-image {
    width:100%;
    
  }
  
  .modal-header {
    color: #D3D0CB;
    background-color: #0892A5;
  }

  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0; }
  
p {
  padding-left: 4px;
  padding-right: 4px;
}

.accordion button{
  color:#0892A5;
}
.card-header {
  background-color: #D3D0CB;
}

.accordion {
  padding: 15px;
}

.btn {
  white-space:normal !important; 
  word-wrap: break-word; 
  word-break: normal;
}

.dropdown-menu {
  background-color: #0892A5;
}

.dropdown-item {
  color:rgba(255,255,255,.5);
}